<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
		<dict>
			<key>identifier</key>
			<string>1801</string>
			<key>description</key>
			<string>GATT_SERVICE</string>
			<key>characteristic</key>
			<array>
				<string>4000</string>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>1800</string>
			<key>description</key>
			<string>GAP_SERVICE</string>
			<key>characteristic</key>
			<array>
				<string>2A00</string>
				<string>2A01</string>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>180A</string>
			<key>description</key>
			<string>DEVICE_INFO_SERVICE</string>
			<key>characteristic</key>
			<array>
				<string>2A26</string>
				<string>2A24</string>
				<string>2A25</string>
				<string>2A27</string>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>180F</string>
			<key>description</key>
			<string>BATTERY_SERVICE</string>
			<key>characteristic</key>
			<array>
				<string>2A19</string>
			</array>
		</dict>
		<dict>
			<key>identifier</key>
			<string>FE89</string>
			<key>description</key>
			<string>CUSTOM_AUDIO_CONTROL_SERVICE</string>
			<key>characteristic</key>
			<array>
				<string>773E4203-A0E7-456B-96FA-E1B4AD56EB63</string>
				<string>7DD2F744-16C4-4C58-88A4-0FAFECC78343</string>
				<string>44FA50B2-D0A3-472E-A939-D80CF17638BB</string>
				<string>4446CF5F-12F2-4C1E-AFE1-B15797535BA8</string>
				<string>95C09F26-95A4-4597-A798-B8E408F5CA66</string>
				<string>D5B5E4C2-D2A7-4EEC-A2D0-6225033A4CAF</string>
			</array>
		</dict>
	</array>
	<key>mode</key>
	<string>standard</string>
</dict>
</plist>
