<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>services</key>
	<array>
        <dict>
            <key>identifier</key>
            <string>7D23</string>
            <key>description</key>
            <string>TP Service</string>
            <key>characteristic</key>
            <array>
                <string>4000</string>
            </array>
        </dict>
		<dict>
			<key>identifier</key>
			<string>7D24</string>
			<key>description</key>
			<string>8670</string>
			<key>characteristic</key>
			<array>
				<string>9876</string>
				<string>9875</string>
				<string>9874</string>
				<string>5345</string>
				<string>5342</string>
				<string>5341</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
